################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/WenGeo-Budget/FileContentIndex/b92ea459-af9a-4b21-b57a-f04ab0bc8fbd.vsidx
/.vs/WenGeo Budget/FileContentIndex/d979aed5-fc68-4a4f-9502-6be9b6f9f0f8.vsidx
/.vs/slnx.sqlite
/.vs
/bin/Debug/net8.0
/obj/Debug/net8.0
