################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/WenGeo-Budget/FileContentIndex/b92ea459-af9a-4b21-b57a-f04ab0bc8fbd.vsidx
